#module-profileadv-addpet #content {
	border: 1px solid #FFFFFF;
}

/* RESPONSIVE */

@media (min-width: 801px) {
	#module-profileadv-addpet .resume-amount-mobile {
		display: none !important;
	}
}

@media (max-width: 800px) {
	#module-profileadv-addpet .resume-amount-desktop {
		display: none !important;
	}
}

/*COLORS*/
#module-profileadv-addpet #content .blue-label {
	color: #00B4DD;
}

/* END COLORS */

#module-profileadv-addpet .text-center {
	text-align: center;
}

#module-profileadv-addpet .text-left {
	text-align: left;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-info-block {
	margin: 10px 0
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-info-block .b-body {
	border: 1px solid #F4F4F4;
	padding: 20px 0;
	border-radius: 15px;
}

#module-profileadv-addpet .mt-2 {
	margin-top: 2%;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .mt-10 {
	margin-top: 10%;
}

#module-profileadv-addpet .b-info-block .b-body dl {
	margin: 0 0 3px;
	overflow: hidden;
}

#module-profileadv-addpet .mt-1 {
	margin-top: 1%;
}

#module-profileadv-addpet .mb-1 {
	margin-top: 1%;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .mb-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-info-block .b-body dt {
	float: left;
	padding: 4px 5px 2px 0;
	text-align: right;
	width: 30%;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-info-block .b-body label {
	font-weight: 700;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-info-block .b-body dd {
	float: left;
}


#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-info-block .b-body .b-edit {
	float: left;
	margin: 0 0 0 15px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-info-block .b-body .b-edit a {
	background: url("../img/ico-edit-info.gif") no-repeat scroll 0 5px transparent;
	padding: 0 0 0 16px;
}

#module-profileadv-addpet .select-images .inputGenre:hover {
	cursor: pointer;
	transform: scale(0.95);
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-column-l a,
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-column-c a,
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-column-r a {
	color: #006699;
	text-decoration: none;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-info-block .b-body .b-avatar {
	float: left;
	margin-left: 10px
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .clr {
	clear: both;
	display: block;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-body .b-guide {
	background: url("../img/ico-guide.gif") no-repeat scroll 0 5px transparent;
	padding: 0px 0 10px 25px;
	margin-top: 15px;
	margin-left: 10px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .profile-adv-user-img {
	width: 85px;
	border: 1px solid #c4c4c4
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .display-none {
	display: none
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-info-block .b-body .b-buttons-save {
	overflow: hidden;
	padding: 7px 0 0 30%;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-info-block .b-body .b-buttons-save .b-submit {
	float: left;
	margin: 0 5px 0 0;
	/*width: 95px;*/
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-info-block .b-body label {
	font-weight: 700;

}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-btn label {
	border: 1px solid #7E827C;
	display: inline-block;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-btn .bold input,
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-btn .bold button {
	font-weight: 700;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-btn input,
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-btn input:focus,
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-btn input:active,
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-btn input:hover,
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-btn button,
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-btn button:focus,
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-btn button:active,
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-btn button:hover {
	background: none repeat scroll 0 0 #49AF17;
	border-color: #83DC59 #6FCB43 #3D8A17 #75CF4A;
	border-style: solid;
	border-width: 1px;
	color: #FFFFFF;
	cursor: pointer;
	font-family: tahoma;
	font-size: 12px;
	outline: medium none;
	padding-bottom: 1px;
	padding-top: 1px;
	text-align: center;
	width: 100%;
	margin-left: 0px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-info-block .b-body .b-buttons-save .b-cancel {
	float: left;
	width: 58px;
}


#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-cancel label {
	border: 1px solid #BEBABA;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-cancel input,
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-cancel input:focus,
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-cancel input:active,
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-cancel input:hover,
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-cancel button,
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-cancel button:focus,
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-cancel button:active,
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-cancel button:hover {
	background: url("../img/btn-cancel-bg.png") repeat-x scroll 0 0 transparent;
	border: medium none;
	color: #666666;
	padding-bottom: 2px;
	padding-top: 2px;
}


/*----------Profile-Shoppers---------*/
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-column-c {
	width: auto;
	padding: 0 0 27px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-column-c .b-wrapper {
	border: 1px solid #dad4d4;
	border-bottom: none;
	margin-top: 10px
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-inside-pages .b-column-c .b-tab {
	border: none;
	padding: 22px 0 19px;
	background: url("../img/bg-grey-dot.gif") repeat-x scroll 0 47px transparent;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab16 {
	padding-top: 17px !important
}

/*   tabs   */


#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-inside-pages .b-tab {
	border-left: 1px solid #dad4d4;
	border-right: 1px solid #dad4d4;
	overflow: hidden;
	padding: 0 0 35px;
	background: url(../img/bg-grey-dot.gif) 0 23px repeat-x;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-inside-pages .b-tab ul {
	margin: 0 0 0 22px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-inside-pages .b-tab li {
	display: block;
	font-weight: 700;
	float: left;
	margin: 0 3px 0 0;
	border: 1px solid #dad4d4;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-inside-pages .b-tab li a {
	text-decoration: none;
	display: block;
	padding: 4px 10px 7px;
	background: #ebeceb;
	color: #666666;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-inside-pages .b-tab li.current a,
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-inside-pages .b-tab li.current a:hover {
	background: #fff;
	cursor: auto;
	color: #49AF17;
	text-decoration: none;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-inside-pages .b-tab li a:hover {
	text-decoration: underline;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-inside-pages .b-tab li.current {
	border-bottom: 1px solid #fff;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper {
	overflow: hidden;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-details {
	/*border-left:1px solid #dad4d4;
	border-right:1px solid #dad4d4;*/
	padding: 0 22px 20px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-details h6 {
	color: #666666;
	text-transform: none;
	font-weight: 700;
	border-bottom: 1px solid #dad4d4;
	padding: 0 0 3px;
	margin: 0 0 5px 0;
	font-size: 11px;
	font-family: tahoma;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-details table {
	width: 100%;
	margin: 0 0 12px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-details .odd td {
	background: #f4f5f4;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-details .even td {
	background: #fff;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-details td {
	padding: 7px 0 7px 14px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-revies {
	padding: 0;
	border-left: 1px solid #dad4d4;
	border-right: 1px solid #dad4d4;
	padding: 0 22px 11px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-revies li.item {
	padding: 26px 0 24px;
	background: url(../img/bg-review-top.gif) 0 0 repeat-x;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-revies .b-left {
	float: left;
	width: 84px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-revies .b-right {
	margin: 0 0 0 84px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-revies a {
	color: #006699;
	text-decoration: none;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-revies a:hover {
	text-decoration: underline;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-revies .b-see-more a {
	padding: 0 8px 0 0;
	background: url(../img/products-list/arrow-blue-right.gif) 100% 4px no-repeat;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-revies h3 {
	color: #3a66cc;
	text-transform: none;
	font-size: 12px;
	padding: 0 0 11px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-revies p {
	padding: 0 0 12px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-revies .b-author span {
	padding: 0 6px;
	color: #bababa;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-revies .b-author {
	padding: 0 0 14px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-revies .appraisal {
	margin: 0 0 0 3px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-revies .appraisal li {
	background: #eaeae8;
	line-height: 120%;
	padding: 6px 25px 8px 31px;
	margin: 0 0 2px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-revies .appraisal li.merits {
	background: url(../img/review-plus.gif) 6px 6px #eaeae8 no-repeat;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-revies .appraisal li.demerits {
	background: url(../img/review-minus.gif) 6px 6px #eaeae8 no-repeat;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-revies .b-vote {
	overflow: hidden;
	padding: 10px 0 19px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-revies .b-vote dt {
	float: left;
	margin: 0 7px 0 0;
	color: #999;
	padding: 2px 0 0;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-revies .b-vote dd {
	float: left;
	margin: 0 3px 0 0;
	height: 15px;
	width: 32px;
	cursor: pointer;
	text-indent: -9999px;
	position: relative;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-revies .b-vote dd.yes {
	background: url(../img/btn-yes-no.gif) 0 0 no-repeat;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-revies .b-vote dd.no {
	background: url(../img/btn-yes-no.gif) -35px 0 no-repeat;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-revies .b-add-comments {
	float: right;
	padding: 0 0 2px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-revies .b-add-comments a {
	padding: 0px 0 3px 23px;
	background: url(../img/ico-add-comment.gif) 0 1px no-repeat;
}



#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-search-friends {
	overflow: hidden;
	height: 20px;
	padding: 0 26px 21px 0;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-search-friends input {
	float: right;
	margin-left: 0px;
	border: 0px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-search-friends input.txt {
	width: 131px;
	padding-left: 5px;
	padding-right: 5px;
	height: 18px;
	font-size: 12px;
	color: #666666;
	border: 1px solid #dad4d4;
	border-right: none;
	margin-left: 0px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .txt-16 {
	height: 20px !important
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-search-friends fieldset {
	border: none
}


/* shopppers list */

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-friends-list {
	padding: 10px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-friends-list ul {
	margin-bottom: 0px !important
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-friends-list li {
	float: left;
	width: 90px;
	text-align: center;
	padding: 10px;
	list-style: none;
	height: 170px
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-friends-list .b-name {
	padding: 3px 0 0;
	width: 85px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-friends-list .b-from {
	padding: 2px 0 0;
	width: 85px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-inside-pages .b-column-c .b-bottom-line {
	margin: 0;
}


/** bottom */

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-inside-pages .b-column-c .b-bottom-line {
	margin: 0;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-inside-pages .b-bottom-line {
	height: 27px;
	background: #eaeae8;
	border: 1px solid #dad4d4;
	/*border-top:none;*/
	background: #eaeae8;
	/*margin:-13px 0 27px;*/
	padding: 0 0 3px;
	overflow: hidden;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-bottom-line-16 {
	height: 35px !important
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-inside-pages .b-bottom-line .b-pager {
	padding: 2px 15px 0 0;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-pager {
	float: right;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-pager dl {
	float: left;
	margin: 2px 0 0;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-pager dt {
	float: left;
	padding: 2px 5px 0 0;
	font-size: 14px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-pager dd {
	margin: 0 1px 0 0;
	float: left;
	line-height: 1.2em
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-pager-16 dd a {
	height: 24px !important;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-pager dd a {
	float: left;
	width: 16px;
	height: 15px;
	padding: 2px 0 0;
	display: block;
	color: #fff;
	background: #bdb9bb;
	text-decoration: none;
	text-align: center;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-pager dd a:hover {
	background: #49af17;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-pager dd.current a {
	background: #49af17;
	font-weight: 700;
	cursor: auto;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-pager dd.last {
	height: 14px;
	padding: 2px 7px 0;
	background: #dbdbdb;
	color: #444242;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-pager dl {
	float: left;
	margin: 2px 0 0;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-inside-pages .b-bottom-line .b-go-top {
	float: left;
	padding: 5px 0 0 14px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-inside-pages .b-bottom-line .b-go-top a {
	background: url("../img/products-list/go-top-arrow.gif") no-repeat scroll 0 0 #BDB9BB;
	color: #FFFFFF;
	display: block;
	float: left;
	font-family: tahoma;
	font-size: 12px;
	padding: 0px 5px 3px 15px;
	text-decoration: none;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-inside-pages .b-bottom-line .b-go-top a:hover {
	background: url(../img/products-list/go-top-arrow.gif) 0 0 no-repeat #49AF17;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .clear-search-shoppers {
	float: right;
	margin: 3px 10px;
	text-decoration: underline !important;
	display: none;
}


/* shoppers block */
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .shoppers-block-view-all {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .shoppers-block-view-all a {
	font-weight: bold;
	font-size: 11px;
	text-decoration: underline;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .shoppers-block-items li {
	margin-top: 5px;
	padding: 0.2em 0 0.2em 0
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .shoppers-block-items img {
	width: 50px;
	float: left
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .shoppers-block-items a {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	/*width:130px;*/
	background: none !important;
	padding: 0px !important
}

/*product item*/
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-product-item {
	margin-top: 10px;
	border: #dad4d4 1px solid;
	border-bottom: none;
	padding: 24px 0 0px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-product-item h1 {
	color: #49AF17;
	border-bottom: 1px solid #b4d5a3;
	padding: 0 0 5px;
	font-size: 16px;
	font-family: tahoma;
	font-weight: 700;
	text-transform: none;
	background: none;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-product-item .b-photo {
	float: left;
	width: 204px;
	text-align: center;
	position: relative;
	padding: 0 0 12px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-product-item .b-description {
	margin: 0 0 0 204px;
	padding: 0 46px 0 0;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-product-item a {
	color: #006699;
	text-decoration: none;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-product-item a:hover {
	text-decoration: underline;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-product-item p {
	padding: 3px 0 5px;
	line-height: 135%;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-product-item .main-features {
	font: bold 13px Tahoma, Arial, Verdana, sans-serif;
	color: #49AF17;
	padding: 0 0 5px 25px;
	background: url(../img/ico-main-features.gif) 0 0 no-repeat;
	text-transform: none;
	margin-top: 10px;
	margin-bottom: 10px;
}


#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-photo .block-photo {
	border: 1px solid #DCD6D6;
	margin: 0pt auto;
	width: 140px;
	padding: 10px 5px 5px 5px
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-photo .block-photo .no-border {
	border: none;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-photo .block-photo img {
	border: 1px solid #DCD6D6;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-photo .block-photo .data {
	margin-top: 10px
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-photo .block-photo .data .are-you {
	margin-top: 5px;
	margin-bottom: 5px
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-photo .block-photo .data .are-you a {
	text-decoration: underline
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-photo .block-photo .data .are-you a:hover {
	color: #5184c3;
	text-decoration: underline
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .share-catalog {
	margin-top: 15px;
	vertical-align: bottom;
	line-height: 0px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .share-catalog div,
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .share-catalog span {
	vertical-align: top !important;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .share-catalog a {
	text-decoration: none;
	opacity: 1;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .share-catalog a:hover {
	text-decoration: none !important;
	opacity: 0.8
}


#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab {
	overflow: hidden;
	padding: 0 0 15px;
	background: url(../img/bg-grey-dot.gif) 0 25px repeat-x;
	margin-top: 15px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-16-profile-page {
	background: url(../img/bg-grey-dot.gif) 0 30px repeat-x !important;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab ul {
	margin: 0 0 0 22px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab li {
	display: block;
	font-weight: 700;
	float: left;
	margin: 0 3px 0 0;
	border: 1px solid #dad4d4;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab li a {
	text-decoration: none;
	display: block;
	padding: 4px 10px 7px;
	background: #ebeceb;
	color: #666666;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab li.current a,
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab li.current a:hover {
	background: #fff;
	cursor: auto;
	color: #49AF17;
	text-decoration: none;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab li a:hover {
	text-decoration: underline;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab li.current {
	border-bottom: 1px solid #fff;
}


#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-details .items {
	border: 1px solid #DAD4D4;
	padding: 10px
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-details h6 {
	color: #666666;
	text-transform: none;
	font-weight: 700;
	border-bottom: 1px solid #dad4d4;
	padding: 0 0 3px;
	margin: 0 0 5px 0;
	font-size: 11px;
	font-family: tahoma;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-details table {
	width: 100%;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-tab-wrapper .b-details table.title-first {
	width: 100%;
	margin-top: 0px;
	border: 1px solid #d4d4d4;
	font-size: 13px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .border-none {
	border: medium none !important;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-info-block .b-body dt.check-box {
	padding: 0px 3px 15px
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .b-info-block .b-body dd input.check-box {
	position: relative;
	margin-left: 10px;
	margin-top: 5px;
	width: 70%;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .clear {
	clear: both
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .blockmanufacturer li {
	padding: 3px
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .block-items-data li a {
	background: none !important;
	padding: 5px
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .float-left {
	float: left
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .float-left-table16 {
	float: left
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .sortTools16 {
	padding: 7px 0 32px !important;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .padding16 {
	height: 20px !important
}


#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .blockmanufacturer16-footer td {
	padding: 0 2px !important
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .blockmanufacturer16-footer h4 {
	background: none repeat scroll 0 0 #383838;
	margin: 0px !important
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .blockmanufacturer16-footer li,
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .blockmanufacturer16 li {
	padding: 7px 0
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .blockmanufacturer16-footer li a,
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .blockmanufacturer16 li a {
	padding: 7px 11px 5px 22px;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .blockmanufacturer16 td {
	padding: 0 2px !important
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .header_user_info_ps16 {
	float: right;
	padding: 9px;
	border-left: 1px solid #515151;
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .padding-10 {
	padding: 10px
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .shoppers-block-view-all a {
	text-decoration: none
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .border-bottom-none {
	border-bottom: none
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .margin-left-5 {
	margin-left: 5px
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .padding-top-5 {
	margin-top: 5px
}


#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .home-shoppers li {
	width: 33%
}



a.button-small-profileadv,
#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .button-small-profileadv a {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: #6f6f6f none repeat scroll 0 0;
	border-color: #666666 #5f5f5f #292929;
	border-image: none;
	border-radius: 0;
	border-style: solid;
	border-width: 1px;
	color: #fff !important;
	font: bold 13px/17px Arial, Helvetica, sans-serif;
	padding: 3px 8px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
}

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
}

#module-profileadv-addpet .my-account-profileadv-logo {
	width: 32px !important;
}

/* CUSTOM GUAUANDCAT*/

#module-profileadv-addpet .mt-5 {
	margin-top: 5%;
	text-align: center;
}

#module-profileadv-addpet .mt-1 {
	margin-top: 1%;
}

#module-profileadv-editpet .b-photo-ed img {
	border-radius: 50%;
	max-width: 60%;
}

#module-profileadv-editpet .image,
#module-profileadv-editpet .image-options {
	text-align: center;
}

@media (max-width: 1620px) {
	#module-profileadv-editpet .b-photo-ed img {
		max-width: 65%;
	}
}

@media (max-width: 600px) {
	#module-profileadv-editpet .b-photo-ed img {
		max-width: 80%;
	}

	#module-profileadv-editpet .image,
	#module-profileadv-editpet .image-options {
		text-align: center;
	}
}

/* WIZARD */
#module-profileadv-addpet #add-pet-form {
	padding: 2% 0;
}

#module-profileadv-addpet #add-pet-form .data-step .text-center {
	padding: 0 35%;
}

#module-profileadv-addpet #add-pet-form [data-step='4'] img {
	max-width: 200px;
}

#module-profileadv-addpet #add-pet-form [data-step='5'] .text-center {
	padding: 0 20%;
}

#module-profileadv-addpet #add-pet-form [data-step='6'] .text-center {
	padding: 0 10%;
}

#module-profileadv-addpet #add-pet-form [data-step='6'] .form-check-label {
	padding-left: 0.1rem;
}

#module-profileadv-addpet #add-pet-form [data-step='7'] .text-center {
	padding: 0 25%;
}

@media (max-width: 1620px) {
	#module-profileadv-addpet #add-pet-form .data-step .text-center {
		padding: 0 15%;
	}

	#module-profileadv-addpet #add-pet-form [data-step='7'] .text-center {
		padding: 0 25%;
	}

	#module-profileadv-addpet #add-pet-form [data-step='4'] .text-center {
		padding: 0 10%;
	}
}

@media (max-width: 600px) {
	#module-profileadv-addpet #add-pet-form .data-step .text-center {
		padding: 0 10%;
	}

	#module-profileadv-addpet #add-pet-form [data-step='4'] .text-center {
		padding: 0 2%;
	}

	#module-profileadv-addpet #add-pet-form [data-step='7'] .text-center {
		padding: 0 10%;
	}
}

@media (max-width: 414px) {
	#module-profileadv-addpet #add-pet-form [data-step='5'] .text-center {
		padding: 0 5%;
	}

	#module-profileadv-addpet #add-pet-form [data-step='3'] .text-center .row:nth-child(1) {
		padding: 0 35%;
	}
}

#module-profileadv-addpet .pet-feeding {
	columns: 3;
}

#module-profileadv-addpet input {
	text-align: center;
}

/*#module-profileadv-addpet #pet-data-info,
#module-profileadv-addpet .annotations {
	background: url('/modules/profileadv/views/img/wizard/background.png');
}*/

#module-profileadv-addpet #pet-data-info {
	padding-bottom: 1%;
}

#module-profileadv-addpet .annotations .list-group.list-group-flush {
	background: transparent;
	color: #00B4DD;
}

#module-profileadv-addpet .annotations .list-group.list-group-flush .list-group-item {
	background: transparent;
	font-weight: bold;
}

#module-profileadv-addpet .profileadv-add-header {
	padding-top: 5%;
}

#module-profileadv-addpet .form-control,
#module-profileadv-editpet .form-control {
	font-size: 1rem !important;
}

/* #module-profileadv-addpet select.form-control:not([size]):not([multiple]),
#module-profileadv-editpet select.form-control:not([size]):not([multiple]) {
	height: auto !important;
} */

#module-profileadv-addpet .profileadv-add-header {
	text-align: center;
}

#module-profileadv-addpet .profileadv-add-header h1 {
	font-size: 30px;
	font-weight: bold;
	color: #000;
	max-width: 900px;
	margin: 0 auto;
}

@media (max-width: 600px) {
	#module-profileadv-addpet .profileadv-add-header h1 {
		font-size: 1.5rem;
	}
}

#module-profileadv-addpet .profileadv-add-header p {
	font-size: 20px;
}

@media (max-width: 600px) {
	#module-profileadv-addpet .profileadv-add-header p {
		font-size: 18rem;
		padding: 0 3%;
	}
}

#module-profileadv-addpet .content-img-type,
#module-profileadv-addpet .input-images {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

#module-profileadv-addpet .content-img-type {
	margin-top: 60px;
}

#module-profileadv-addpet .pet-type img {
	max-width: 40vh;
	/* border-radius: 50%; */
	/* border: 2px solid #00B4DD; */
	/* border-style: dashed; */
	margin: 0;
	width: 150px;
	cursor: pointer;
}

#module-profileadv-addpet .pet-type img.active-button {
	max-width: 40vh !important;
	/* border-radius: 50%; */
	/* border: 2px solid #00B4DD; */
	/* border-style: double; */
	margin: 0;
}

@media (max-width: 600px) {
	#module-profileadv-addpet .pet-type img {
		max-width: 30vh;
	}
}

#module-profileadv-addpet .pet-type img:hover {
	max-width: 40vh !important;
	/* border-radius: 50%; */
	/* border: 2px solid #00B4DD; */
	/* border-style: double; */
	margin: 0;
}

#module-profileadv-addpet p.input-title {
	font-weight: bold;
	color: #000;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#module-profileadv-addpet input,
#module-profileadv-addpet select,
#module-profileadv-addpet button {
	border: 1px solid #00B4DD;
	border-radius: 9px;
}

#module-profileadv-addpet select {
	padding: 1% !important;
	text-align: center;
}

#module-profileadv-addpet .navigation-buttons {
	text-align: center;
	margin: 2rem;
	display: flex;
	justify-content: center;
	gap: 20px;
}

@media (max-width:600px) {
	#module-profileadv-addpet .navigation-buttons {
		margin: .2rem;
		margin-top: 10%;
	}
}

#module-profileadv-addpet .navigation-buttons button {
	font-size: 1.2rem !important;
	text-transform: capitalize;
	padding: 0.5rem 2rem;
}

@media (max-width:600px) {
	#module-profileadv-addpet .navigation-buttons button {
		padding: .5rem;
	}
}

/* #module-profileadv-addpet button.next,
#module-profileadv-addpet button.btn-submit {
	background: #00B4DD;
	color: #FFFFFF;
} */

/* #module-profileadv-addpet button.previous {
	color: #00B4DD;
	background: #FFF;
} */

#module-profileadv-addpet button.previous:hover {
	background: transparent;
	border-color: #00B4DD;
}

#module-profileadv-addpet input:focus-visible,
#module-profileadv-addpet select:focus-visible {
	border: 1px solid #00B4DD;
}

#module-profileadv-addpet .physical-image {
	background: #FFF;
	margin: 6% 20%;
	border-radius: 50%;
	border-style: dashed;
	border-color: #00B4DD;
}

#module-profileadv-addpet img.img-fluid.img-condition {
	max-width: 95%;
	border-radius: 50%;
}

#module-profileadv-addpet .activity-cards img {
	cursor: pointer;
}

#module-profileadv-addpet .img-brief,
#module-profileadv-addpet .img-brief-hover,
#module-profileadv-addpet .pet-feeding .img-feeding {
	max-width: 50%;
	border-radius: 50%;
	cursor: pointer;
}

@media (min-width: 1600px) {

	#module-profileadv-addpet .img-brief,
	#module-profileadv-addpet .img-brief-hover,
	#module-profileadv-addpet .pet-feeding .img-feeding {
		max-width: 70%;
	}
}

@media (max-width: 600px) {

	#module-profileadv-addpet .img-brief,
	#module-profileadv-addpet .img-brief-hover,
	#module-profileadv-addpet .pet-feeding .img-feeding {
		max-width: 100%;
	}
}


#module-profileadv-addpet .pet-feeding .img-feeding.non-active-button {
	opacity: 30%;
}

@media (max-width: 600px) {
	#module-profileadv-addpet .pet-feeding .img-feeding.active-button {
		max-width: 100%;
	}
}

@media (min-width: 1600px) {

	#module-profileadv-addpet .pet-feeding .img-feeding.active-button {
		max-width: 70%;
	}
}

#module-profileadv-addpet .select-button button,
#module-profileadv-addpet .enable-option-button button {
	background: #FFF;
	border-color: #00B4DD;
	color: #00B4DD;
	font-size: 1.2rem !important;
	text-transform: capitalize;
	padding: 0.5rem 2rem;
	cursor: pointer;
}

@media (max-width: 1620px) {

	#module-profileadv-addpet .select-button button {
		padding: .5rem;
	}

	#module-profileadv-addpet section[data-step='5'] .select-button button {
		padding: .5rem;
		margin: 2%;
	}

	#module-profileadv-addpet .wrap-button {
		columns: 1;
	}
}

#module-profileadv-addpet .enable-option-button .input-title {
	margin-top: 2%;
}

#module-profileadv-addpet .select-button button:hover,
#module-profileadv-addpet .select-button .active-button,
#module-profileadv-addpet .enable-option-button button:hover,
#module-profileadv-addpet .enable-option-button .active-button {
	background: #00B4DD;
	border-color: #00B4DD;
	color: #FFFFFF;
}

#module-profileadv-addpet #content span,
#module-profileadv-addpet #content input,
#module-profileadv-addpet #content select,
#module-profileadv-addpet #content label {
	font-weight: bold;
	color: #000;
}

#module-profileadv-addpet .select-genre img {
	width: 100%;
	margin: 0% 3%;
}

#module-profileadv-addpet input[type=range] {
	height: 34px;
	-webkit-appearance: none;
	margin: -7px 10px;
	width: 100%;
	border: transparent;
	background-color: transparent;
	background: transparent;

}

#module-profileadv-addpet input[type=range]:focus {
	outline: none;
}

#module-profileadv-addpet input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #00B4DD;
	background: #00B4DD;
	border-radius: 1px;
	border: 0px solid #00B4DD;
}

#module-profileadv-addpet input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #00B4DD;
	border: 1px solid #00B4DD;
	height: 26px;
	width: 26px;
	border-radius: 15px;
	background: #00B4DD;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -12px;
}

#module-profileadv-addpet input[type=range]:focus::-webkit-slider-runnable-track {
	background: #00B4DD;
}

#module-profileadv-addpet input[type=range]::-moz-range-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #00B4DD;
	background: #00B4DD;
	border-radius: 1px;
	border: 0px solid #00B4DD;
}

#module-profileadv-addpet input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #00B4DD;
	border: 1px solid #00B4DD;
	height: 26px;
	width: 26px;
	border-radius: 15px;
	background: transparent;
	cursor: pointer;
}

#module-profileadv-addpet input[type=range]::-ms-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

#module-profileadv-addpet input[type=range]::-ms-fill-lower {
	background: #00B4DD;
	border: 0px solid #00B4DD;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #00B4DD;
}

#module-profileadv-addpet input[type=range]::-ms-fill-upper {
	background: #00B4DD;
	border: 0px solid #00B4DD;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #00B4DD;
}

#module-profileadv-addpet input[type=range]::-ms-thumb {
	margin-top: 1px;
	box-shadow: 1px 1px 1px #00B4DD;
	border: 1px solid #00B4DD;
	height: 26px;
	width: 26px;
	border-radius: 15px;
	background: transparent;
	cursor: pointer;
}

#module-profileadv-addpet input[type=range]:focus::-ms-fill-lower {
	background: #00B4DD;
}

#module-profileadv-addpet input[type=range]:focus::-ms-fill-upper {
	background: #00B4DD;
}

#module-profileadv-addpet .activity-cards .card.active-card {}

#module-profileadv-addpet .activity-cards .card.non-active-card {
	opacity: 40%;
}

#module-profileadv-addpet .stepper-wrapper {
	margin-top: auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

@media (min-width: 1500px) {
	#module-profileadv-addpet .stepper-wrapper {
		padding: 0 35%;
	}
}

@media (max-width: 1499px) {
	#module-profileadv-addpet .stepper-wrapper {
		padding: 0 30%;
	}
}

@media (max-width: 1620px) {
	#module-profileadv-addpet .stepper-wrapper {
		padding: 0 20%;
	}
}

@media (max-width: 600px) {
	#module-profileadv-addpet .stepper-wrapper {
		padding: 0;
	}
}

#module-profileadv-addpet .stepper-item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;

	@media (max-width: 768px) {
		font-size: 12px;
	}
}

#module-profileadv-addpet .stepper-item::before {
	position: absolute;
	content: "";
	border-bottom: 2px solid #C6E1E5;
	width: 100%;
	top: 20px;
	left: -50%;
	z-index: 2;
}

#module-profileadv-addpet .stepper-item::after {
	position: absolute;
	content: "";
	border-bottom: 2px solid #C6E1E5;
	width: 100%;
	top: 20px;
	left: 50%;
	z-index: 2;
}

#module-profileadv-addpet .stepper-item .step-counter {
	position: relative;
	z-index: 5;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #C6E1E5;
	color: #FFFFFF;
	margin-bottom: 6px;
}

#module-profileadv-addpet .stepper-item.active {
	font-weight: bold;
}

#module-profileadv-addpet .stepper-item.completed .step-counter,
#module-profileadv-addpet .stepper-item.active .step-counter {
	background-color: #00B4DD;
	color: #FFFFFF;
}

#module-profileadv-addpet .stepper-item.completed::after {
	position: absolute;
	content: "";
	border-bottom: 2px solid #00B4DD;
	width: 100%;
	top: 20px;
	left: 50%;
	z-index: 3;
}

#module-profileadv-addpet .stepper-item:first-child::before {
	content: none;
}

#module-profileadv-addpet .stepper-item:last-child::after {
	content: none;
}

#module-profileadv-addpet #pet-data-info .text-center {
	margin-top: 2%;
}

@media (max-width: 600px) {
	#module-profileadv-addpet #pet-data-info .text-center {
		margin: 1%;
	}
}

#module-profileadv-addpet #pet-data-info p {
	font: normal normal normal 18px/21px AvenirNextLTPro-Regular;
	letter-spacing: -.36px;
	color: #000;
}

#module-profileadv-addpet #pet-data-info p.text-title {
	font-weight: bold;
	font-size: 2.5rem;
	font-family: "quincycf-bold", sans-serif;
	line-height: 35px;
}

@media (max-width: 600px) {
	#module-profileadv-addpet #pet-data-info .text-title-blue {
		padding: 0 5%;
	}

	#module-profileadv-addpet #pet-data-info p.text-title {
		font-size: 2rem;
	}
}

#module-profileadv-addpet #pet-data-info p.font-weight-bold {
	font-weight: bold !important;
}

@media (max-width: 600px) {
	#module-profileadv-addpet #pet-data-info .text-title-blue {
		padding: 0 5%;
	}
}

#module-profileadv-addpet a.btn.btn-return,
#module-profileadv-addpet a.btn.btn-return:hover {
	color: #00B4DD;
	border-color: #00B4DD;
	font-size: 15px;
	background: transparent;
}

#module-profileadv-addpet #pet-data-info .pet-amount {
	display: flex;
	flex-wrap: wrap;
}

#module-profileadv-addpet #pet-data-info a.btn.btn-primary:hover,
#module-profileadv-addpet #pet-data-info button.btn.btn-primary:hover {
	background: #FFF !important;
	color: #00B4DD !important;
}

#module-profileadv-addpet #pet-data-info .pet-amount .wrap {
	background: #FFF;
	border: 1px solid #00B4DD;
	border-radius: 15%;
	padding: 1% 5%;
	flex: 1;
}

#module-profileadv-addpet #pet-data-info .tips,
#module-profileadv-addpet #pet-data-info .carousel {
	border-radius: 40px;
}

#module-profileadv-addpet #pet-data-info .tips .card {
	background: transparent !important;
}

#module-profileadv-addpet #pet-data-info .tips img {
	width: 100%;
}

#module-profileadv-addpet #pet-data-info .row.min-row-height {
	min-height: 20rem;
	background: #00B4DD;
	border-radius: 40px;
}

@media (max-width: 1199px) {
	#module-profileadv-addpet #pet-data-info .row.min-row-height {
		min-height: 15rem;
	}
}

#module-profileadv-addpet #pet-data-info .resume-amount {
	border-radius: 40px;
}

#module-profileadv-addpet #pet-data-info .resume-amount-data img,
#module-profileadv-addpet #pet-data-info .resume-amount-recommend img {
	width: 100%;
}

#module-profileadv-addpet #pet-data-info .resume-amount-recommend img {
	float: right;
	border-radius: 40px;
}

@media (max-width: 800px) {
	#module-profileadv-addpet #pet-data-info .resume-amount-recommend img {
		float: none;
		width: 50%;
	}
}

#module-profileadv-addpet #pet-data-info .resume-amount-recommend .button-blue {
	background: #00B4DD !important;
	color: #FFF !important;
}

#module-profileadv-addpet #pet-data-info .resume-amount-recommend .button-white {
	background: #FFF !important;
	color: #00B4DD !important;
	border-color: #00B4DD !important;
}

#module-profileadv-addpet #pet-data-info .resume-amount-data img {
	max-width: 200px;
}

#module-profileadv-addpet #pet-data-info .resume-amount-data img {
	border-radius: 100%;
}

#module-profileadv-addpet #pet-data-info .blue-background {
	background: #00B4DD !important;
}

#module-profileadv-addpet #pet-data-info .resume-amount-data.blue-background,
#module-profileadv-addpet #pet-data-info .resume-amount-recommend.blue-background {
	background: #00B4DD;
	border-radius: 40px;
}

@media (max-width : 768px) {

	#module-profileadv-addpet #pet-data-info .resume-amount-data.blue-background,
	#module-profileadv-addpet #pet-data-info .resume-amount-recommend.blue-background {
		border-radius: 20px;
		background: white !important;
		border: 2px solid #00B4DD;
		margin: 0 !important;
	}
}

#module-profileadv-addpet #pet-data-info .resume-amount-data p,
#module-profileadv-addpet #pet-data-info .resume-amount-recommend p {
	margin-bottom: 1rem;
	color: #FFFFFF;
	font-size: .8vw;
}


@media (max-width: 1800px) {

	#module-profileadv-addpet #pet-data-info .resume-amount-data p,
	#module-profileadv-addpet #pet-data-info .resume-amount-recommend p {
		margin-bottom: 1rem;
		color: #FFFFFF;
		font-size: 1.1vw;
	}
}

@media (max-width: 1300px) {

	#module-profileadv-addpet #pet-data-info .resume-amount-data p,
	#module-profileadv-addpet #pet-data-info .resume-amount-recommend p {
		margin-bottom: 1rem;
		color: #FFFFFF;
		font-size: 1.5vw;
	}
}

#module-profileadv-addpet #pet-data-info .resume-amount-data p.pet-amount-value.font-weight-bold,
#module-profileadv-addpet #pet-data-info .resume-amount-data p.pet-amount-cost-value.font-weight-bold {
	font-size: 1.5vw;
}

@media (max-width: 1200px) {

	#module-profileadv-addpet #pet-data-info .resume-amount-data p.pet-amount-value.font-weight-bold,
	#module-profileadv-addpet #pet-data-info .resume-amount-data p.pet-amount-cost-value.font-weight-bold {
		font-size: 3vw;
	}
}

@media (max-width: 800px) {

	#module-profileadv-addpet #pet-data-info .resume-amount-data p,
	#module-profileadv-addpet #pet-data-info .resume-amount-recommend p {
		font-size: 4vw;
	}

	#module-profileadv-addpet #pet-data-info .resume-amount-data p.pet-amount-value.font-weight-bold,
	#module-profileadv-addpet #pet-data-info .resume-amount-data p.pet-amount-cost-value.font-weight-bold {
		font-size: 7vw;
	}
}

#module-profileadv-addpet #pet-data-info .pet-amount .wrap.amount-resume {
	margin-left: 8%;
	margin-right: 0%;
}

@media (max-width: 600px) {
	#module-profileadv-addpet #pet-data-info .pet-amount .wrap.amount-resume {
		margin-left: 1%;
		margin-right: 1%;
	}

	#module-profileadv-addpet #pet-data-info .pet-amount .equal {
		display: none;
	}

	#module-profileadv-addpet #pet-data-info .pet-amount .wrap {
		border-radius: 3%;
	}

}

@media (max-width: 1620px) {

	#module-profileadv-addpet #pet-data-info .pet-amount .equal {
		display: none;
	}

	#module-profileadv-addpet #pet-data-info .pet-amount .wrap.amount-resume {
		margin-left: 2%;
		margin-right: 2%;
	}

	#module-profileadv-addpet #pet-data-info .pet-amount .wrap {
		padding: 1% 10%;
		flex: 1;
	}

}

@media (max-width: 600px) {

	#module-profileadv-addpet #pet-data-info .pet-amount .wrap {
		padding: 1% 5%;
	}

}

#module-profileadv-addpet #pet-data-info ul.list-group.list-group-flush li.list-group-item {
	margin: 1rem 0;
}

#module-profileadv-addpet #pet-data-info .pet-amount .wrap.amount-cost-resume {
	margin-right: 15%;
	margin-left: 3%;
	background: #00B4DD;
}

@media (max-width: 600px) {
	#module-profileadv-addpet #pet-data-info .pet-amount .wrap.amount-cost-resume {
		margin-right: 1%;
		margin-left: 1%;
		margin-top: 5%;
	}
}

@media (max-width: 1620px) {
	#module-profileadv-addpet #pet-data-info .pet-amount .wrap.amount-cost-resume {
		margin-right: 2%;
		margin-left: 2%;
	}
}

#module-profileadv-addpet #pet-data-info .pet-amount .wrap.amount-cost-resume .amount-cost-value {
	margin-right: 13%;
	margin-left: 3%;
	background: #00B4DD;
}

@media (max-width: 600px) {
	#module-profileadv-addpet #pet-data-info .pet-amount .wrap p.pet-amount-cost-value {
		margin-top: 20% !important;
	}
}

#module-profileadv-addpet #pet-data-info .pet-amount img {
	border-radius: 50%;
	max-width: 9rem;
	margin: 5% auto;
}

#module-profileadv-addpet #pet-data-info .pet-amount .wrap p.pet-amount-value,
#module-profileadv-addpet #pet-data-info .pet-amount .wrap p.pet-amount-cost-value {
	font-size: 45px;
	color: #00B4DD;
	font-weight: bold;
	margin-top: 5%;
	letter-spacing: -2.25px;
}

#module-profileadv-addpet #pet-data-info .pet-amount .wrap p.pet-amount-cost-value {
	margin-top: 40%;
}

@media (min-width:1500px) and (max-width: 2000px) {
	#module-profileadv-addpet #pet-data-info .pet-amount .wrap p.pet-amount-cost-value {
		margin-top: 40%;
	}
}

@media (min-width: 2000px) {
	#module-profileadv-addpet #pet-data-info .pet-amount .wrap p.pet-amount-cost-value {
		margin-top: 40%;
	}
}


#module-profileadv-addpet #pet-data-info .pet-amount .wrap p.pet-amount-cost-value,
#module-profileadv-addpet #pet-data-info .pet-amount .wrap p.pet-sum-cost-month {
	color: #FFFFFF !important;
}

#module-profileadv-addpet #pet-data-info .pet-amount .wrap p.pet-sum-month {
	letter-spacing: -1px;
	color: #00B4DD;
	opacity: 1;
	font-size: 15px;
	margin: 2% auto;
}

#module-profileadv-addpet #pet-data-info .pet-amount .equal {
	margin-top: 11%;
	font-weight: bold;
	font-size: 4rem;
	color: #00B4DD;
	margin-left: 3%;
}

#module-profileadv-addpet .carousel-title {
	font-weight: bold;
	margin-bottom: 2%;
	line-height: 35px;
	text-align: center;
	font-family: quincycf-bold;
	color: #000000;
	opacity: 1;
}

#module-profileadv-addpet .carousel-title p {
	font-size: 1.5rem;
	color: #000000;
}


#module-profileadv-addpet .tns-outer {
	position: relative;
	margin: 0 25%;
}

@media (max-width: 600px) {
	#module-profileadv-addpet .tns-outer {
		margin: 0 5%;
	}
}

#module-profileadv-addpet .tns-outer [data-controls] {
	border: 0;
	padding: 0;
	font-size: 30px;
	position: absolute;
	top: 50%;
	margin-top: -18px;
	z-index: 1;
	background: transparent;
}

#module-profileadv-addpet #carousel {
	width: 70%;
}

#module-profileadv-addpet #carousel img {
	border: 1px solid #00B4DD;
	border-radius: 10%;
	max-width: 200px;
}

#module-profileadv-addpet #carousel .carousel-cell {
	margin-right: 5px;
	margin-left: 5px;
}

#module-profileadv-addpet #carousel .flickity-prev-next-button.next {
	right: -30px !important;
}

#module-profileadv-addpet #carousel .flickity-prev-next-button.previous {
	left: -30px !important;
}

#module-profileadv-addpet #carousel .flickity-button.flickity-prev-next-button {
	color: #FFFFFF;
	background: #00B4DD;
}

#module-profileadv-addpet .options-list ul {
	column-count: 3;
	column-gap: 2rem;
	list-style: none;
	margin-top: 2%;
}

@media (max-width: 600px) {
	#module-profileadv-addpet .options-list ul {
		column-count: 1;
		margin-top: 7%;
		margin-bottom: 5%;
	}

	#module-profileadv-addpet [data-step='6'].options-list {
		column-count: 1;
		margin-top: 7%;
		margin-bottom: 5%;
	}
}

#module-profileadv-addpet .options-list ul li label {
	color: #00B4DD;
}

#module-profileadv-addpet .options-list ul li input {
	accent-color: #00B4DD;
	-ms-transform: scale(2);
	-moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
}

.product_recommended.text-center {
	margin: 0 40%;
}

@media (max-width: 1620px) {
	.product_recommended.text-center {
		margin: 0 40%;
	}
}

@media (max-width: 1000px) {
	.product_recommended.text-center {
		margin: 0 30%;
	}
}

#module-profileadv-addpet .product_recommended img {
	max-width: 200px;
}


#module-profileadv-addpet .file-select {
	position: relative;
	display: inline-block;
}

#module-profileadv-addpet #add-pet-form [data-step='7'] .options-list {
	background: #f4f4f4;
	border-radius: 15px;
}

#module-profileadv-addpet #add-pet-form [data-step='7'] .options-list {
	background: #f4f4f4;
	border-radius: 15px;
}

#module-profileadv-addpet #add-pet-form [data-step='7'] .alert.alert-info {
	background-color: #daecf5 !important;
	color: #3987ad;
}

#module-profileadv-addpet .file-select::before {
	background-color: #00B4DD;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 7px;
	content: 'Subir foto';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#module-profileadv-addpet .file-select input[type="file"] {
	opacity: 0;
	width: 200px;
	height: 32px;
	display: inline-block;
	cursor: pointer;
}

#product #mipets-product .table {
	border: 2px solid #00B4DD;
	border-style: dashed;
}

#product #mipets-product .table td,
.table th {
	vertical-align: middle !important;
}

#product #mipets-product .table td p {
	margin-bottom: 0 !important;
}


#product .popover {
	background: #FFF !important;
	border: 2px solid #00B4DD !important;
	border-style: dashed !important;
	padding: 0.5rem !important;
	text-align: center !important;
	font-weight: bold;
}

#product .popover .popover-title {
	display: none;
}

#product #mipets-product .panel {
	margin-bottom: 5%;
}

#product #mipets-product .panel .alert {
	background: #FFF;
	border: 1px solid #FFF;
}

#product #mipets-product .panel .alert button {
	border: 2px solid #00B4DD !important;
	border-style: dashed !important;
	font-weight: bold;
	color: #00B4DD;
	background: #FFFFFF;
}

#product #mipets-product .panel .alert button:hover {
	background: #00B4DD;
	color: #FFF;
}

#product #mipets-product .modal p {
	margin-bottom: 0;
}

#product #mipets-product img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	padding: 1%;
	object-fit: cover;
}

@media (max-width:600px) {
	#product #mipets-product .modal {
		margin: 10%;
	}

	#product #mipets-product img {
		border-radius: 60%;
		width: 200px;
		height: 50px;
		padding: 1%;
		object-fit: cover;
	}
}

#product #mipets-product table tr {
	cursor: pointer;
}

#product #mipets-product .all-pets-btn {
	margin-bottom: 2%;
}

